<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Page</title>
</head>
<body>
    <h1>Hello To Form Page 📃⏸</h1>
    <form action="/process" method="post">
        <p>
            Name : <input type="text" name="username">
        </p>
        <p>
            Age : <input type="number" name="user_age">
        </p>
        <p>
            Favorite Food <input type="text" name="fav_food">
        </p>
        <button>Submit Your Form</button>
    </form>
</body>
</html>